<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-4 px-5 mx-auto">
    <%= form_with model: @user do |f| %>
    <h2>User info</h2>
      <p>Name</p>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class: "btn-block mb-3" %>
      <p>Image</p>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*", class: "mb-3" %>  
      <p>Introduction</p>
        <%= f.text_area :introduction, class: "btn-block" %>  
      <div><%= f.submit "Update user" , class: "btn btn-secondary mt-3" %></div>
    <% end %>
    </div>
  </div>
</div>