
<div class="container mt-2">
  <div class="row">
    <div class="col-lg-4">
      <div>
        <%= render 'info', user: @user %>
        <%= render 'books/form', book: @book %>
      </div>
    </div>
    
    <div class="col-lg-8">
      <table class="table">
        <h2>Users</h2>
        <thead>
          <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
    </div>
  </div>
</div>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><%= user.name %></td>
        <td><%= link_to user_path(user.id) do %>Show<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>