<div>
  <%= flash[:notice] %>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-4">
      <div>
        <%= render 'users/info', user: @book.user %>
        <%= render 'form', book: @book_new %>
      </div>
    </div>
    
      <div class="col-lg-8">
        <table class="table">
          <h2>Book detail</h2>
          <% if @book.user == current_user %>
          <thead>
            <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %> <br>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td><%=link_to book_path(@book.id) do %><% @book.title %><% end %></td>
              <td><%= @book.body %></td>
              <td><%=link_to 'Edit', edit_book_path(@book.id), class: "btn btn-success" %></td>
              <td><%=link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
            </tr>
          </tbody>
          <% else %>
          <thead>
            <tr>
            <th></th>
            <th></th>
            <th></th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %> <br>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td><%=link_to book_path(@book.id) do %><% @book.title %><% end %></td>
              <td><%= @book.body %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
          

  